.dropdown
  %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    Dropdown button
  .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
    %a.dropdown-item{:href => "#"} Action
    %a.dropdown-item{:href => "#"} Another action
    %a.dropdown-item{:href => "#"} Something else here
