/*******************************************
*       COMMON MIXINS AND KEYFRAMES        *
*******************************************/

@mixin c-border-radius($top-right, $bottom-right, $bottom-left, $top-left) {
    -webkit-border-top-right-radius: $top-right;
    -webkit-border-bottom-right-radius: $bottom-right;
    -webkit-border-bottom-left-radius: $bottom-left;
    -webkit-border-top-left-radius: $top-left;
    -moz-border-radius-topright: $top-right;
    -moz-border-radius-bottomright: $bottom-right;
    -moz-border-radius-bottomleft: $bottom-left;
    -moz-border-radius-topleft: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
    border-bottom-left-radius: $bottom-left;
    border-top-left-radius: $top-left;
}

@mixin c-transition($properties, $duration, $function, $delay) {
    -webkit-transition: $properties $duration $function $delay;
    -moz-transition: $properties $duration $function $delay;
    transition: $properties $duration $function $delay;
}

@mixin c-box-shadow-outer($left, $top, $blur, $spread, $color) {
    -webkit-box-shadow: $left $top $blur $spread $color;
    -moz-box-shadow: $left $top $blur $spread $color;
    box-shadow: $left $top $blur $spread $color;
}

@mixin c-box-shadow-inner-many($array_style) {
    $cbsim_style: "";
    $cbsim_length: length($array_style);
    @for $i from 1 through $cbsim_length {
        $cbsim_style: #{$cbsim_style}#{nth($array_style,$i)};
        @if $i < $cbsim_length {
            $cbsim_style: #{$cbsim_style","}
        }
    }
    box-shadow: inset $cbsim_style;
    -webkit-box-shadow: inset $cbsim_style;
    -moz-box-shadow: inset $cbsim_style;
    -o-box-shadow: inset $cbsim_style;
}

@mixin c-animation($name, $duration, $function, $delay, $iteration) {
    -webkit-animation: $name $duration $function $delay $iteration;
    -moz-animation: $name $duration $function $delay $iteration;
    animation: $name $duration $function $delay $iteration;
}

@mixin c-background-image($size:'cover', $color:#eee, $hight:100vh) {
    background-color: $color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: unquote($size);
    height: $hight;
    display: block;
    width: 100%;
    position: relative;
}

@mixin c-background-overlay($pseudo:'after') {
    position: relative;
    * {
        z-index: 2;
    }
    &:after,
    &:before {
        z-index: 1;
    }
    @if($pseudo=='after') {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @else if($pseudo=='before') {
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}


/*====================================================
                        KEY FRAME
=====================================================*/