$BODY_COLOR:#f3f3f3;
$TEXT_COLOR: #333;

$HEADER_COLOR: #333;
$HEADER_TEXT_COLOR: #fff;
$HEADER_LINK_COLOR: #fff;

$FOOTER_COLOR: #333;
$FOOTER_TEXT_COLOR: #fff;
$FOOTER_LINK_COLOR: #fff;


/* DEFAULT BOOTSTRAP COLOR */
$PRIMARY_COLOR: #007bff;
$SECONDARY_COLOR: #868e96;
$SUCCESS_COLOR: #28a745;
$INFO_COLOR: #dc3545;
$WARNING_COLOR: #ffc107;
$DANGER_COLOR: #17a2b8;
$LIGHT_COLOR: #f8f9fa;
$DARK_COLOR: #343a40;
/* END BOOTSTRAP COLOR */ 

/* FOUNDATION COLOR */
$F_PRIMARY_COLOR:#1779ba;
$F_SECONDARY_COLOR: #767676;
$F_SUCCESS_COLOR: #3adb76;
$F_ALERT_COLOR: #cc4b37;
$F_WARNING_COLOR: #ffae00;
/* END FOUNDATION COLOR */
