$PRIMARY_COLOR: #8b1414;
$SECONDARY_COLOR: #3d3935;
$TERNARY_COLOR: #3f1a0e;

$FOURTH_COLOR: #994144;
$FIFTH_COLOR: #736a6a;



$HEADER_DROPDOWN_MENU:rgba(86,69,68,0.5);

$WHITE:#fff;
$BLACK: #333;


$HEADER_BG: $PRIMARY_COLOR;
$HEADER_LINK:$WHITE;

$FOOTER_COLOR_BG: $FIFTH_COLOR;
$FOOTER_WIDGET_TITLE: $PRIMARY_COLOR;
$FOOTER_WIDGET_HEADER: $WHITE;


$HOME_NUM_BG: $SECONDARY_COLOR!default;
$HOME_NUM_TEXT:$WHITE!default;

$HOME_SOLUTION_BG:$SECONDARY_COLOR;
$SHOME_SOLUTION_TEXT: $WHITE;


$SINGLE_BLOG_POST: #cbc5c5;
$SINGLE_BLOG_TEXT: #8b1414;

